{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "importMeta": true
    },
    "target": "es2015"
  },
  "module": {
    "type": "commonjs"
  },
  "isModule": true
}